
#menuside {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#menuside li {
    list-style: none;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 3px;
    margin-top: 7px;
    border: 0px;
    text-decoration: none;
}

#menuside li a {
    text-decoration: none;
    color: #FF6533;
    display: block;
}

#menuside li:hover {
    text-decoration: none;
    border: 1px solid #777777;
    padding: 3px 9px 3px 9px;

    /* Background color and gradients */

    background: #F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

    /* Rounded corners */

    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

